<div class="container">
	<div class="panel">
		<button type="button" class="btn btn-large btn-block btn-success" (click)="addUser()">Добавить</button>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>ФИО</th>
					<th>Дата создания</th>
                    <th>Телефон</th>
                    <th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let user of users">
					<td>{{user.id}}</td>
					<td>{{user.fio}}</td>
					<td>{{user.createdAt | customDate:"yyyy/MM/dd HH:mm"}}</td>
					<td>{{user.phone}}</td>
					<td>
						<button type="button" class="btn btn-warning" routerLink="/users/form/{{user.id}}">
            Редактировать
          </button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>