<!--<app-title [subtitle]="version"></app-title>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">My first app</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/home">Главная</a>
      </li>
      <li>
        <a routerLink="/users">Пользователи</a>
      </li>
      <li>
        <a routerLink="/tests">Tests</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>-->

<header>
	<h1>Angular Emoji Picker</h1>
</header>

<div class="main">
	<div class="emoji-content-editable"
		 (emojiPickerCaretEmitter)="handleCurrentCaret($event)"
		 (input)="content = $event.target.textContent"
		 [textContent]="content"
		 contenteditable="true"></div>
	<i
		class="emoji-toggle-button"
		(click)="toggled = !toggled"
		[(emojiPickerIf)]="toggled"
		[emojiPickerPreserveSelection]="false"
		[emojiPickerDirection]="direction"
		[emojiPickerAutofocus]="true"
		(emojiPickerSelect)="handleSelection($event)">😄</i>
</div>

<footer>

</footer>
